<div class="sidebar">
    <div class="buttonhome">
        <%= image_tag "ホーム.png", :size => '20x20' %> ホーム
    </div>
    <div><%= image_tag "シャープ.png", :size => '20x20' %> 話題を検索</div>
    <div><%= image_tag "ベル.png", :size => '20x20' %> 通知</div>
    <div><%= image_tag "メール.png", :size => '20x20' %> メッセージ</div>
    <div><%= image_tag "ブックマーク.png", :size => '20x20' %> ブックマーク</div>
    <div><%= image_tag "リスト.png", :size => '20x20' %> リスト</div>
    <div><%= image_tag "アイコン.png", :size => '20x20' %> プロフィール</div>
    <div><%= image_tag "三点リーダー.png", :size => '20x20' %> もっと見る</div>
    <div class="buttontweet">
        ツイートする
    </div>
</div>