

<% if @tweet.errors.any? %>
  <div>
    <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="tweets">
    <div class="account">
        <col><%= image_tag "twitter.png" , :size=>'50x50' %></col>
        <col>名前</col>
        <col>@username</col>
        <col>・</col>
        <col><%= l @tweet.tdate , format: :short %></col>
    </div>
        
    <%= form_for @tweet, url: {action: :update} do |t| %>

        <%= t.text_area :message , class: "text_form"%><br>
        <%= t.file_field :image , class: "image_form"%><br><br>

        <%= t.submit '決定' ,{class: "btn_edit", style: "margin-left: 100px;"} %>
    <% end %>
</div>
<%= link_to '戻る', root_path, {method: :get, class: "btn_edit"} %>