<h1>Tweet一覧</h1>


<% @tweets.each do |t| %>

<%= t.message %><br>
<%= l t.tdate, format: :short %>
<%= link_to '削除', "/tweets/#{t.id}", method: :delete %>
<%= link_to '編集', "/tweets/#{t.id}/edit" %>
<%= link_to '詳細', "/tweets/#{t.id}" %>
<br>
<% end %>

<br><br>
<%= link_to '新規投稿', '/tweets/new' %>