<div class="contentC">
        <div class="image_border">
            <div class="image_circle"></div>
        </div>
    </div>
    <div>
        <col>名前</col>
        <col>@ユーザー名</col>
        <col>・</col>
        <col><%= l @tweet.tdate , format: :short %></col>
        
    
    </div>

<br><%= @tweet.message %><br>
<%= image_tag "/get_image/#{@tweet.id}", :size => '300x300' %><br>
<br>

投稿日時：<%= l @tweet.tdate, format: :short %><br>

<br>
<%= link_to '戻る', root_path %>
<%= link_to '編集', edit_tweet_path(@tweet.id) %>
<%= link_to '削除', tweet_path(@tweet.id), method: :delete %>