<div class="tweets">
    <div class="account">
    <col><%= image_tag "twitter.png" , :size=>'50x50' %></col>
        <col>名前</col>
        <col>@username</col>
        <col>・</col>
        <col><%= l @tweet.tdate , format: :short %></col>
    </div>
        
            <div class="message"><%= @tweet.message %></div>
            <% if @tweet.image != nil %>
                <%= image_tag "/get_image/#{@tweet.id}", :size => '300x300' %><br>
            <% end %>
            <div class="grid-container2">
                <div class="grid-item2 grid-item21">
                    <%= image_tag "吹き出し.png", :size => '20x20' %></div>
                <div class="grid-item2 grid-item22">
                    <%= image_tag "リツイート.png", :size => '20x20' %></div>
                <div class="grid-item2 grid-item23">
                    <%= image_tag "ハート.png", :size => '20x20' %></div>
                <div class="grid-item2 grid-item24"></div>
                <div class="grid-item2 grid-item25"></div>
            </div>
    
            

</div>
<table style="padding: 5px;">
  <tbody>
    <tr>
      <td>
        <div>
          <%= link_to(root_path) do %>
            <span class="btn_show">戻る</span>
          <% end %>
        </div>
      </td>
      <td>
        <div>
          <%= link_to(edit_tweet_path(@tweet.id)) do %>
            <span class="btn_show">編集</span>
          <% end %>
        </div>
      </td>
      <td>
        <div>
          <%= link_to(tweet_path(@tweet.id), method: :delete) do %>
            <span class="btn_show">削除</span>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>

    



